
<br>

<div class="container  mt-5">
                <div class="card-columns">
                    <div class="card" style="border-radius: 0" >   <!--*ngFor='let user of users'-->
                        <!-- <img class="card-img-top" src="" alt="Profile Pic"> -->
                        <img class="card-img-top" src="assets/dummy.png"  alt="Profile Pic"> 
                        <div class="card-body">
                            <form   >
                                <h6 class="text-muted">Id: </h6>
                                <h6 class="text-muted">Email:</h6>
                                <button type="button" class="btn btn-danger" > Unblock </button>
                            </form>
</div>

                    </div>
                </div>


               
</div>